* {
  background-color: #0d0d11;
 }
:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #FF6600;
  --secondary: #F2F1F8;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #FFFFFF;
  --dark: #44425A;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Poppins", sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
h1{
  color :orange;
}
h2{
  color: rgb(72, 168, 206);
}
h3{
  color: #e83e8c;
}
p {
  color:wheat;
  line-height: 20px;
}
li{
  color: wheat;
}
.criti{
  color: #28a745;
}
.text-primary{
  color:white;
}
button {
  margin-left: 1200px;
  color: green;
  border-color: green;
  font-weight: bolder;
}
